body {
    background: #FFF;
    color: #1E1E1E;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 0;
}

.container {
    margin: 10px auto 0px auto;
    text-align: center;
}

.title {
    font-size: 42px;
}

.instruction {
    margin: 15px auto 15px auto;
    font-size: 24px;
    text-align: left;
    color: #505050;
    vertical-align: 100%;
}

@media only screen and (max-device-width: 480px) {
    #lines {
        /* fit boxes on iphone screen */
        font-size: 8px;
    }
}

.line_box {
    display: inline-block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    text-decoration: none;
}

.line_red {
    background-color: #D60021;
}

.line_green {
    background: #1C9B41;
}

.line_blue {
    background: #1469B1;
}

.line_silver {
    background: #B6C1B9;
}

.line_gold {
    background: #FDC425;
}

.line_orange {
    background: #F17A26;
}

.schedule {
    display: none;
    overflow: auto;
}

.route {
    margin-bottom: 1.5em;
}

.schedule h3 {
    position: absolute;
    text-align: left;
    font-size: 18px;
    margin: 0 0 8px 0;
    font-weight: inherit;
    margin-right: 8px;
}

.schedule h3.wrapfix {
    visibility: hidden;
    position: static;
}

.schedule table {
    border-spacing: 0px;
    margin: 0px auto 0px auto;
}

.schedule tr th {
    border-right: 1px solid #1E1E1E;
    text-align: left;
    font-weight: inherit;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
    white-space: nowrap;
}

.schedule tr th.fancyscroll {
    position: absolute;
    padding-right: 0;
}

.schedule tr:last-child td {
    border-bottom: 0px;
}

.schedule tr td:nth-child(2n+1) {
    background: #E5EFEF;
}

.schedule td, .schedule th {
    padding: 5px;
    border-bottom: 1px solid #E5E5E5;
}

.schedule td.pm {
    font-weight: 600;
}

body:not(.line_selected) #schedule_title {
    display: none;
}
