body {
    background: #FFF;
    color: #1E1E1E;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0;
}

.container {
    margin: 10px auto 0px auto;
    text-align: center;
}

h1 {
    font-size: 42px;
    font-weight: inherit;
    margin: 0;
}

h2 {
    margin: 15px auto 15px auto;
    font-size: 24px;
    font-weight: inherit;
    text-align: left;
    color: #505050;
    vertical-align: 100%;
    display: none;
}

#toggle-show-all-days {
    display: none;
}

#lines h2,
.line_selected h2,
.line_selected #toggle-show-all-days {
    display: block;
}

@media only screen and (max-device-width: 480px) {
    #lines {
        /* fit boxes on iphone screen */
        font-size: 8px;
    }
}

.line_box {
    display: inline-block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    text-decoration: none;
}

.line_red {
    background: #D60021;
}

#red .line_name,
#red h4 {
    color: #D60021;
}

#red tbody td:nth-child(2n+1) {
    background: #FAC6C8;
}

.line_green {
    background: #1C9B41;
}

#green .line_name,
#green h4 {
    color: #1C9B41;
}

#green tbody td:nth-child(2n+1) {
    background: #C9EEC9;
}

.line_blue {
    background: #1469B1;
}

#blue .line_name,
#blue h4 {
    color: #1469B1;
}

#blue tbody td:nth-child(2n+1) {
    background: #CBE5F2;
}

.line_silver {
    background: #B6C1B9;
}

#silver .line_name,
#silver h4 {
    color: #B6C1B9;
}

#silver tbody td:nth-child(2n+1) {
    background: #EEF1EF;
}

.line_gold {
    background: #FDC425;
}

#gold .line_name,
#gold h4 {
    color: #FDC425;
}

#gold tbody td:nth-child(2n+1) {
    background: #FFF5D1;
}

.line_orange {
    background: #F17A26;
}

#orange .line_name,
#orange h4 {
    color: #F17A26;
}

#orange tbody td:nth-child(2n+1) {
    background: #FEDDBF;
}

.schedule {
    display: none;
}

.route {
    margin: 0 -8px 1.5em;
    overflow: auto;
}

.schedule h3 {
    text-align: left;
    font-size: 18px;
    margin: 0;
    font-weight: inherit;
}

.schedule h3.line_name {
    font-weight: 400;
}

.schedule h3.not_running_today {
    text-align: center;
}

.schedule thead th {
    height: 1em;
    border-style: none;
    white-space: normal;
}

.schedule thead tr:last-child th {
    padding-bottom: .75em;
}

.schedule h4 {
    position: absolute;
    text-align: left;
    font-size: 14px;
    margin: 0 0 0 5px;
    font-weight: inherit;
}

.schedule table {
    border-spacing: 0px;
    margin: 0px auto 0px auto;
    border-right: 8px solid white;
}

.schedule th {
    border-right: 1px solid #1E1E1E;
    text-align: left;
    font-weight: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
    white-space: nowrap;
}

.schedule th.fancyscroll {
    display: block;
    position: absolute;
}

.schedule th.fancyscroll:hover {
    width: auto !important;
}

.schedule .fancyscroll-spacer {
    border-style: none;
    padding: 0;
    margin: 0;
    width: 0;
    min-width: 0;
}

#schedules .schedule tbody td.upcoming {
    background: yellow;
}

.schedule tbody tr:last-child td,
.schedule tbody tr:last-child th
{
    border-bottom: 0px;
}

.schedule tbody td:nth-child(2n+1) {
    background: #E5EFEF;
}

.schedule tbody td, .schedule tbody th {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    min-width: 2.5em;
}

.schedule td.pm {
    font-weight: bold;
}

.schedule tfoot tr {
    height: 1.5em;
}

.schedule .note {
    font-size: inherit;
    position: absolute;
    padding: 1ex 1ex 0 0;
    text-align: right;
    overflow: hidden;
    font-size: 15px;
}

body:not(.line_selected) #schedule_title {
    display: none;
}
